In [2]:
from Data import DBManager
from Data import StockManager

### Test the connection
db = DBManager.Manager()
sm = StockManager.StockManager()
hostname = "188.166.179.144"
mysql_uri = db.set_mysql_conn(hostname, "darwin", "darwinlab", "darwindb")

In [4]:
codes = sm.get_all_stock_codes(mysql_uri)

In [6]:
mongo_db = DBManager.Manager().get_default_mongo_conn()

In [1]:
import pandas as pd
import odo
%matplotlib inline

stock_price_uri = mysql_uri + "::Stock_Price_Daily_tmp"
bl_stock_price = blaze.Data(stock_price_uri)
codes =['000001', '000003', '000004']

df_stock_prices = pd.DataFrame()
for code in codes :
    print "loading " + code
    a = bl_stock_price[bl_stock_price['code'] == code]
    a = a[['date', 'close']]
    
    prices = odo.odo(a, pd.DataFrame)
    prices.head()
    prices.columns = ['date', code]
    #df_stock_prices = df_stock_prices.join(prices, how='outer')

NameError: name 'mysql_uri' is not defined

In [39]:
prices.head()