In [2]:
import tushare as ts
import pandas as pd
import matplotlib
import odo

%matplotlib inline

In [18]:
df_hs = ts.get_hist_data('399300', '2010-01-01', '2015-09-30' )

In [21]:
aa = ts.get_h_data('000001', '2010-01-01')

[Getting data:]########################

In [24]:
2.22 fly in,23m fly out

,open,high,close,low,volume,amount
date,,,,,,
2010-01-08,9.87,9.97,9.91,9.80,28854306,650667392
2010-01-07,10.04,10.11,9.93,9.82,35533684,804166336
2010-01-06,10.19,10.19,10.04,9.96,41214313,944453697
2010-01-05,10.41,10.48,10.22,9.97,55649984,1293476992
2010-01-04,10.75,10.78,10.40,10.38,24192276,580249472

In [4]:
# get google data
import pandas.io.data as web
import numpy as np
goog = web.DataReader('GOOG', data_source='google', start='3/14/2009', end='4/14/2014')

In [5]:
goog['log_ret'] = np.log(goog['Close'] / goog['Close'].shift(1))